@import "tailwindcss";



html,
body {
	direction: rtl;
	text-align: right;
	font-family: Vazirmatn, sans-serif;
	font-feature-settings: 'locl';
	font-feature-settings: 'ss01';
	/* Disable text selection globally */
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Hide scrollbars for mobile app */
* {
	-ms-overflow-style: none; /* IE & Edge */
	scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
	display: none; /* Chrome, Safari */
}

.swiper-pagination-bullet {
	background-color: #d1d5db !important;
	opacity: 1 !important;
}

.swiper-pagination-bullet-active {
	background-color: #6a9c89 !important;
}

.swiper-pagination {
	bottom: -8px;
}

.swiper-pagination-bullet {
	background-color: #d1d5db !important;
	opacity: 1 !important;
}

.swiper-pagination-bullet-active {
	background-color: #6a9c89 !important;
}

.custom-pagination {
	pointer-events: auto;
}

.custom-pagination .swiper-pagination-bullet {
	width: 8px;
	height: 8px;
	margin: 0 6px; /* فاصله استاندارد بانکی */
	background-color: #d1d5db;
	opacity: 1;
}

.custom-pagination .swiper-pagination-bullet-active {
	background-color: #6a9c89;
}

.swiper-pagination {
	bottom: 8px !important;
}

.swiper-pagination-bullet {
	width: 8px;
	height: 8px;
	margin: 0 6px;
	background-color: #d1d5db !important;
	opacity: 1 !important;
}

.swiper-pagination-bullet-active {
	background-color: #6a9c89 !important;
}

